*{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	box-sizing: border-box;
}
body{
	width: 1440px;
	margin: auto;
}
header{
	margin-bottom: 15px;
}
.header__header-top{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__header-logo{
	margin-top: 26px;
	margin-left: 70px;
	margin-bottom: 28px;
	padding: 0 20px;
	width: 246px;
	height: 102px;
}
.header__header-logo img{
	width: 206px;
}
.header__nav-bar ul{
	list-style: none;
}
.header__nav-bar li{
display: inline-block;
margin-right: 94px;
}
.header__nav-bar li:last-child{
	margin-right: 30px;
}
.header__nav-bar a{
	font-size: 16px;
	padding: 20px;
	transition: color 0.4s;
}
.header__nav-bar a:hover{
	cursor: pointer;
	color: #FA4A0C;
}
.header__main-block{
	background-image: url(img/main-logo-top.png);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 619px;
	color: white;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	padding: 73px 218px 0;
}
.main-text-block{
	text-align: center;
}
.main-text-block p:first-child{
	margin-bottom: 25px;
	line-height: 36px;
}
.main-text-block h1{
	font-family: 'Poppins', sans-serif;
	font-size: 58px;
	font-weight: bold;
	line-height: 80px;
	letter-spacing: 0.2px;
	vertical-align: middle;
	margin-bottom: 20px;
}
.main-text-block p:last-child{
	margin-bottom: 54px;
}
.button-blocks{
	display: flex;
	width: 506px;
	justify-content: center;
	z-index: 2;
}
.button-block{
	display: flex;
	justify-content: center;
	align-items: center;

	border: 1px solid #ffffff;
	border-radius: 30px;
	width: 236px;
	height: 68px;

	cursor: pointer;
	
}
.button-block:hover{
	background-color: #FA4A0C;
}
.header_button_playstore{
	margin-right: 34px;
}

main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 1440px;
}
.void{
	height: 604px;
	position: relative;
}
.void img{
	position: absolute;
	bottom: 15px;
	right: -250px;
	z-index: 1;
}
.heading-main::before{
	content: "";
	display: block;
	width: 884px;
	height: 3px;
	background-color: #E4E4E4;
	margin-bottom: 72px;
}
.heading-main h1{
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 44px;
}
.main__info{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 1440px;
}
.textblock h3{
	color: #FA4A0C;
	margin-bottom: 17px;
}
.textblock h2{
	color: #252B42;
	font-size: 40px;
	margin-bottom: 17px;
}
.textblock p{
	color: #737373;
}
.create_block img{
	margin-left: 150px;
}
.create_block .textblock,
.checkout_block .textblock{
	margin-right: 150px;
}
.explore_block .textblock{
	margin-left: 254px;
}
.checkout_block img{
	margin-left: 100px;
}

.footer-top{
	background-image:url(img/footer-top.png);
	background-repeat: no-repeat;
	height: 516px;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	text-align: center;
}
.footer-top__text h2{
	font-size: 40px;
	margin-bottom: 10px;
}
.footer-top__text p{
	margin-bottom: 60px;
}
.footer-buttons{
	display: flex;
	width: 362px;
}
.footer-button{
	width: 173px;
	border-radius: 10px;
}
.footer-button__play{
	margin-right: 10px;
}
.footer-bottom{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 38px;
	padding-left: 186px;
	padding-right: 160px;
}
.soc-footer ul{
	list-style: none;
}
.soc-footer ul li{
	display: inline-block;
	margin-right: 28px;
}
.soc-footer a{
	cursor: pointer;
}
.copyright-bottom p{
	font-size: 12px;
	font-weight: bold;
}